@font-face {
  font-family: "iconfont";
  /* Project id 4115559 */
  src: url('//at.alicdn.com/t/c/font_4115559_rhb4sl0ugp.woff2?t=1686403614706') format('woff2'), url('//at.alicdn.com/t/c/font_4115559_rhb4sl0ugp.woff?t=1686403614706') format('woff'), url('//at.alicdn.com/t/c/font_4115559_rhb4sl0ugp.ttf?t=1686403614706') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-rizhi:before {
  content: "\e860";
}
.icon-shipinwenjian:before {
  content: "\e861";
}
.icon-shouye:before {
  content: "\e862";
}
.icon-shouji:before {
  content: "\e863";
}
.icon-sousuo:before {
  content: "\e864";
}
.icon-taolun:before {
  content: "\e865";
}
.icon-tuwen:before {
  content: "\e866";
}
.icon-yuechi:before {
  content: "\e867";
}
.icon-ziyuan-tuceng:before {
  content: "\e868";
}
.icon-yonghu:before {
  content: "\e788";
}
.icon-fenxiang:before {
  content: "\e60f";
}
.icon-pinglun:before {
  content: "\e60b";
}
.icon-yuyinguanbi:before {
  content: "\e903";
}
.icon-dianzan:before {
  content: "\e644";
}
.icon-zuojiantou-copy:before {
  content: "\e653";
}
.icon-youjiantou-copy:before {
  content: "\e654";
}
.icon-dianzan1:before {
  content: "\e8ad";
}
.icon-shoucang:before {
  content: "\e8b9";
}
.icon-lajitong:before {
  content: "\e652";
}
.icon-wuwangluo:before {
  content: "\e647";
}
.icon-yuedu:before {
  content: "\e88a";
}
